body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid4
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid4 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid4 > .row > .col-1
{
   float: left;
}
#LayoutGrid4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#LayoutGrid4-video
{
   background: #000000;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   z-index: -99;
}
#LayoutGrid4-video iframe
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Text1 
{
   line-height: 1.8;
   margin: 0;
}
#wb_Text1
{
   color: #000000;
   font-family: "Kufam";
   font-weight: 700;
   font-size: 13px;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Image1
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid5 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5 > .row > .col-1
{
   float: left;
}
#LayoutGrid5 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Text3 
{
   line-height: 1.8;
   margin: 0;
}
#wb_Text3
{
   color: #000000;
   font-family: Cairo;
   font-weight: normal;
   font-size: 15px;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid6 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1
{
   float: left;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Text4 
{
   line-height: 1.8;
   margin: 0;
}
#wb_Text4
{
   color: #000000;
   font-family: Cairo;
   font-weight: normal;
   font-size: 15px;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Text4
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Image2
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#wb_Image3
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#Layer1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Lottie1
{
   width: 100%;
   height: auto;
}
#wb_Lottie1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
}
#Layer2
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Lottie2
{
   width: 100%;
   height: auto;
}
#wb_Lottie2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
}
#wb_Text2 
{
   background-color: #FED22E;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 9px;
   line-height: 1.8;
   padding: 5px 5px 5px 5px;
   margin: 0;
   text-align: center;
}
#wb_Text2
{
   color: #000000;
   font-family: Cairo;
   font-weight: normal;
   font-size: 12px;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text5 
{
   background-color: #FED22E;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 9px;
   line-height: 1.8;
   padding: 5px 5px 5px 5px;
   margin: 0;
   text-align: center;
}
#wb_Text5
{
   color: #000000;
   font-family: Cairo;
   font-weight: normal;
   font-size: 12px;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_uid5
{
   color: #000000;
}
#wb_uid4
{
   color: #000000;
}
#wb_uid3
{
   color: #000000;
}
#wb_Image1
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 1;
}
#wb_Image2
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 3;
}
#wb_uid2
{
   color: #000000;
}
#wb_Text5
{
   position: absolute;
   left: 0px;
   top: 107px;
   width: 100px;
   height: 23px;
   text-align: center;
   z-index: 9;
}
#wb_Image3
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 5;
}
#wb_uid1
{
   background-color: #FFFFFF;
   color: #000000;
}
#wb_uid0
{
   color: #000000;
}
#wb_Lottie2
{
   position: absolute;
   left: 3px;
   top: 47px;
   width: 69px;
   height: 36px;
   z-index: 8;
}
#wb_Lottie1
{
   position: absolute;
   left: 150px;
   top: 40px;
   width: 79px;
   height: 56px;
   z-index: 7;
}
#wb_Text2
{
   position: absolute;
   left: 15px;
   top: 117px;
   width: 330px;
   height: 23px;
   text-align: center;
   z-index: 6;
}
#Layer1
{
   position: fixed;
   text-align: left;
   left: auto;
   right: 0px;
   top: auto;
   bottom: 0px;
   width: 370px;
   height: 150px;
   z-index: 15;
}
#wb_uid9
{
   color: #000000;
}
#Layer2
{
   position: fixed;
   text-align: right;
   left: 0px;
   top: 0px;
   width: 267px;
   height: 150px;
   z-index: 16;
}
#wb_uid8
{
   color: #000000;
}
#Layer2_Container
{
   width: 267px;
   position: relative;
   margin-left: auto;
   margin-right: 0;
   text-align: left;
}
#wb_uid7
{
   color: #000000;
}
#wb_uid6
{
   color: #000000;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid4
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   height: auto;
   padding: 0 15px 0 15px;
}
#LayoutGrid4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid4 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   height: auto;
   padding: 10px 15px 10px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   font-family: Kufam;
   font-weight: 700;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   height: auto;
   padding: 0;
}
#LayoutGrid3 .row
{
   margin-right: 0px;
   margin-left: 0px;
}
#LayoutGrid3 > .row > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid3 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Image1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid5
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid5
{
   height: auto;
   padding: 10px 15px 10px 15px;
}
#LayoutGrid5 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid5 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Text3
{
   visibility: visible;
   display: block;
}
#wb_Text3
{
   font-family: Cairo;
   font-weight: 400;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid6
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid6
{
   height: auto;
   padding: 10px 15px 10px 15px;
}
#LayoutGrid6 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid6 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Text4
{
   visibility: visible;
   display: block;
}
#wb_Text4
{
   font-family: Cairo;
   font-weight: 400;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Image2
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#Layer1
{
   width: 263px;
   height: 116px;
   visibility: visible;
   display: block;
}
#wb_Lottie1
{
   left: 200px;
   top: 10px;
   width: 60px;
   height: 56px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Layer2
{
   width: 300px;
   height: 135px;
   visibility: visible;
   display: block;
}
#Layer2_Container
{
   width: 300px;
}
#wb_Lottie2
{
   left: 0px;
   top: 10px;
   width: 80px;
   height: 53px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text2
{
   left: 0px;
   top: 76px;
   width: 253px;
   height: 24px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   font-family: Cairo;
   font-weight: 400;
   font-size: 13px;
   margin: 0;
   padding: 5px 5px 5px 5px;
   text-align: center;
}
#wb_Text5
{
   left: 0px;
   top: 80px;
   width: 100px;
   height: 24px;
   visibility: visible;
   display: inline;
}
#wb_Text5
{
   font-family: Cairo;
   font-weight: 400;
   font-size: 13px;
   margin: 0;
   padding: 5px 5px 5px 5px;
   text-align: center;
}
}
